/* CSS Document */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

main {
    width: 100vw;
}

h2 {
    font-size: 1.75rem;
    font-family: "SuisseIntl", sans-serif;
    font-weight: 800;
    line-height: .93;
}
header {
    display: block;
}
a {
    text-decoration: none;
    color: black;
}

#menu {
    position: absolute;
    top: 0;
    padding: 1rem;
    width: 100%;
    background-color: #C3012F;
    z-index: 2;
}
#menu > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

/* logo van Ajax */
#menu > ul > li > img {
    max-height: 2rem;
}
#menu > ul > li > a {
    color: white;
    border: .0625rem solid #fff;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: "suisseIntl", sans-serif;
    font-weight: 600;
    line-height: 1.25;
    padding: 2px 12px;
    text-decoration: none;
}

#hamburger_menu {
    transition: all .35s ease;
    padding: 1.5rem 1rem;
    width: 100%;
    position: absolute;
    background-color: #C3012F;
    z-index: 1;

}
#hamburger_menu > ul {
    list-style: none;
}
#hamburger_menu > ul > li:first-of-type {
    padding-bottom: .5rem;
    font-weight: 600;
    font-family: "suisseIntl", sans-serif;
    color: white;

}
#hamburger_menu > ul > li > a {
    text-decoration: none;
    padding-bottom: .5rem;
    font-weight: 300;
    font-family: "suisseIntl", sans-serif;
    color: white;
}
.hide {
    top: -20rem;
}
.show {
    top: 3.5rem;
}
#nieuws_items {
    padding: 1.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    
}
.header_nieuws_items {
    padding: 1.5rem;
    list-style: none;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    
}

/* verschillende device groottes */
@media only screen and (min-width: 500px) {
    #nieuws_items {
        grid-template-columns: 50% 50%;
    }
}
@media only screen and (min-width: 1000px) {
    #nieuws_items {
        grid-template-columns: 33% 33% 33%;
    }
}

@media only screen and (min-width: 800px) {
    #categories {
        grid-template-columns: 50% 50%;
    }
}


#nieuws_items > li {
    width: 100%;
    padding-bottom: 1rem;
/*    overflow: hidden;*/
    flex-grow: 1;
    position: relative;
}
#nieuws_items > li > a {
    width: 100%;
}
#nieuws_items > li > a > img {
    width: 100%;
    max-height: 15rem;
}
#nieuws_items > li > a > .like_button {
    padding: .25rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 5rem;
    width: 3rem;
    position: absolute;
    top: 2px;
    left: 2px;
}

#nieuws_items > li > a > p {
    line-height: 1.33;
    margin-top: 1rem;
    font-size: 1.125rem;
    font-family: "SuisseIntl", sans-serif;
}
#nieuws_items > li > a > footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    border-bottom: .0625rem solid #c2002f;
    padding: 0;
    padding-bottom: .625rem;
}
#nieuws_items > li > a > footer > p {
    font-size: 0.625rem;
    font-family: "SuisseIntl", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    display: inline-block;
    margin-right: .75rem;
    padding: .4375rem .3125rem;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    background-color: #413e3e;
}

.btn {
    background-color: white;
    color: black;
}

.categories {
    display: flex;
    list-style: none;
    padding: 2rem 1.5rem 1.5rem;
}

.categories > li {
    margin-right: 1.875rem;
    display: block;
    font-size: 1rem;
    font-family: "SuisseIntl", sans-serif;
    font-weight: 600;
    line-height: 1.25;
    color: #181314;
    padding-bottom: .1875rem;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: .125rem solid transparent;
}

.categories > li:first-of-type {
    border-bottom: .125rem solid #c2002f;
}

.nieuws_header {
    background: url('../images/header_img.jpg') no-repeat;
    background-origin: content-box;
    position: relative;
    background-size: cover;
    max-width: 70vw;
    overflow: hidden;
    height: 23rem;
    margin: 1.5rem;
    margin-top: 6rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nieuws_header > h2 {
    color: white;
    width: 15rem;
}
.nieuws_header > a {
    background-color: white;
    min-height: 2rem;
    width: max-content;
    padding: .5rem .75rem;
    font-size: 1rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.win_actie {
    background: url('../images/curacao.jpg') no-repeat;
    background-origin: content-box;
    position: relative;
    background-size: cover;
    max-width: 30vw;
    overflow: hidden;
    height: 23rem;
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.win_actie > h2 {
    color: white;
}
.win_actie > h3 {
    color: white;
    font-size: 1.125rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 300;
}
.win_actie > a {
    background-color: white;
    min-height: 2rem;
    width: max-content;
    padding: .5rem .75rem;
    font-size: 1rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

main > article {
    padding-top: 4rem;
}
main > article > h1 {
    color: white;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 800;
    line-height: .92;
    padding: 1.875rem 1.5rem;
    background-color: #C3012F;
    font-size: 2.25rem;
}
main > article > h3 {
    margin-top: 1.5rem;
    font-size: 1.125rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 600;
    padding: 0 1.5rem;
    line-height: 1.33;
}

main > article > img:first-of-type {
    padding: 0;
    margin-top: 0;
    max-height: 30rem;
}

main > article > img {
    padding: 0 1.5rem;
    max-width: 100%;
    margin-top: 1.5rem;
}
main > article > p:first-of-type {
    font-size: 1.125rem;
}
main > article > p {
    font-family: "SuisseIntl",sans-serif;
    padding: 0 1.5rem;
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1rem;
}
main > article > img + span {
    margin-top: .5625rem;
    font-size: .625rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 300;
    line-height: 1.2;
    padding: 0 1.5rem;
    display: block;
}
main > article > .score {
    margin-top: 0;
    font-family: "SuisseIntl",sans-serif;
    padding: 0 1.5rem;
    font-weight: 300;
    display: block;
}
main > article > footer {
    display: block;
    margin-top: 1.5rem;
    padding: 0;
}
main > article > footer > span {
    display: block;
    font-family: "SuisseIntl",sans-serif;
    padding: 0 1.5rem;
    font-size: 1rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 300;
    line-height: 1.25;
}
main > article > footer > section {
    width: calc(100% - 3rem);
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    padding-bottom: .625rem;
    border-bottom: .0625rem solid #c2002f;
}
main > article > footer > section > p {
    font-size: 0.625rem;
    font-family: "SuisseIntl", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    display: inline-block;
    margin-right: .75rem;
    padding: .4375rem .3125rem;
    color: #fff;
    text-transform: uppercase;
    list-style: none;
    background-color: #413e3e;
}
main > h2 {
    padding: 0 1.5rem;
    margin-top: 4rem;
}

footer {
    padding: 1.5rem;
}

footer > nav {
    list-style: none;
    justify-content: space-between;
}

footer > nav > ul {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
}
footer > nav > ul > li {
    padding: 1rem 0;
    width: 50%;
}

footer > nav > ul > li > ul {
    list-style: none;
}
footer > nav > ul > li > ul > h4 {
    font-size: 1rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 600;
    line-height: 1.25;
}
footer > nav > ul > li > ul > li {
    font-size: 1rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 300;
    line-height: 1.25;
}

.nieuwsbrief {
    font-family: "SuisseIntl",sans-serif;
}
.nieuwsbrief > h4 {
    font-family: "SuisseIntl",sans-serif;
    
}
.nieuwsbrief > p {
    font-family: "SuisseIntl",sans-serif;
    margin: 0 0 .875rem;
}
.nieuwsbrief > a {
    padding: .5rem .75rem;
    font-size: 1rem;
    font-family: "SuisseIntl",sans-serif;
    font-weight: 600;
    color: white;
    background: #c2002f;
    text-decoration: none;
}

.social {
    margin: 1rem 0;
}
.social > h4 {
    font-family: "SuisseIntl",sans-serif;
}
.social > ul {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.social > ul > li {
    margin-right: 1rem;
}

.partners > h4 {
    font-family: "SuisseIntl",sans-serif;
}
.partners > ul {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.partners > ul > li {
    margin-right: 1rem;
    margin-bottom: 1rem;
}



@media only screen and (min-width: 800px) {
    main > article > p:first-of-type {
        font-size: 1.5rem;
        padding: 0 10rem;
    }
    main > article > p {
        font-size: 1.125rem;
        padding: 0 10rem;
    }
    main > article > h1 {
        padding: 4rem 10rem 2rem 10rem;
        font-size: 3.25rem;
        font-weight: 800;
    }
    main > article > h3 {
        font-weight: 600;
        padding: 0 10rem;
    }
    main > article > img {
        padding: 0 10rem;
    }
    main > article > footer {
        padding: 0 10rem;
    }
    main > article > .score {
        padding: 0 10rem;
    }
    main > article > footer > span {
        padding: 0;
    }
    main > article > footer > section {
        width: 100%;
    }
    main > article > img:first-of-type {
        object-fit: cover;
        -o-object-position: center top;
        object-position: center top;
        height: 100%;
        width: 100%;
    }
    main > article > img + span {
        padding: 0 10rem;
        font-size: 1rem;
    }
    main > article > p {
        max-width: 70rem;
    }
    main > h2 {
        font-size: 1.75rem;
        padding: 0 10rem;
    }
    main > #nieuws_items {
        padding: 0 10rem;
    }
    
    main > .nieuws_header{
        padding: 0 10rem;
    }
    main > .categories{
        padding: 0 10rem;
    }
    main > .win_actie{
        padding: 0 10rem;
    }
    footer {
        padding: 0 10rem;
    }
}
